/* src/styles/Navbar.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para el componente Navbar */
.navbar {
  @apply w-full h-full px-24 py-8 bg-white shadow-lg flex justify-between items-center;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.04); /* Drop shadow inferior */
}

.logo-container {
  @apply relative flex items-center;
}

.logo {
  @apply h-8; /* Ajusta el tamaño del logo según sea necesario */
}

.nav-links {
  @apply flex justify-center items-center gap-3;
}

.nav-link {
  @apply text-lg font-normal text-gray-800 px-4 py-4 rounded-full transition-colors duration-200 ease-in-out;
}

.nav-link:hover {
  @apply text-pink-600;
}

.auth-buttons {
  @apply flex items-center gap-2;
}

.login-link {
  @apply text-lg font-normal text-gray-800 px-4 py-4 rounded-full transition-colors duration-200 ease-in-out;
}

.login-link:hover {
  @apply text-pink-600;
}

.register-button {
  @apply bg-dark text-white font-light max-w-xs; /* Limitar el ancho máximo del botón */
  width: 120px;
  text-align: center;
  transition: background-color 0.3s;
}

.register-button:hover {
  @apply bg-gray-700; /* Mismo efecto hover que en LoginPage */
}

.hamburger-menu {
  @apply md:hidden cursor-pointer text-2xl;
}

@media (max-width: 768px) {
  .nav-links, .auth-buttons {
    @apply flex-col items-center space-y-4;
  }
}