/* src/components/AnimatedGradient.css */

.animated-gradient-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.animated-gradient-svg {
  position: absolute;
  animation: background-gradient 10s infinite;
}

.blur-light {
  filter: blur(2px);
}

.blur-medium {
  filter: blur(5px);
}

.blur-heavy {
  filter: blur(10px);
}